<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table align="center" border="1px">
    <form action="/up" method="post" enctype="multipart/form-data">
            <tr>
                <td>
                    Product Name :-
                </td>
                <td>
                    <input type="text" value="<%=single.pname%>"  placeholder="Product Name" name="pname">
                    <input type="hidden" value="<%=single.id%>" name="editid"  >
                </td>
            </tr>
            <tr>
                <td>
                    Price  :-
                </td>
                <td>
                   <input type="text" placeholder="Price " value="<%=single.price%>" name="price">
                </td>
            </tr>
            <tr>
                <td>
                    Qty :-
                </td>
                <td>
                   <input type="text" value="<%=single.qty%>" placeholder=" Qty " name="qty">
                </td>
            </tr>
            <tr>
                <td>
                    Description:-
                </td>
                <td>
                   <input type="text" value="<%=single.desc%>" placeholder="description" name="desc">
                </td>
            </tr>
            <tr>
                <td>
                    Image:-
                </td>
                <td>
                    <img src="<%=single.image%>" width="100px" class="card-img-top" alt="...">
                   <input type="file"  placeholder="image" name="image">
                </td>
            </tr>
            <tr>
                <td>
               
                </td>
                <td>
                   <input type="submit" >
                </td>
            </tr>
        </form>
    </table>

    <a align="center" href="/dash">View Product</a>
    
</body>
</html>