<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600&display=swap");

    body {
        font-family: "Rubik", sans-serif;
        text-align: center;
        background-color: #2b2d42;
        margin-left: 10px;
        margin-right: 10px;
    }

    img {
        height: 300px;
        witdh: 200px;
        border-radius: 5px;
    }

    img:hover {
        border-top: 2px solid #d90429;
        border-right: 2px solid #d90429;
    }

    h1,
    h3,
    p {
        color: #edf2f4;
    }

    a {
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 230px;
        text-decoration: none;
    }

    input {
        background-color: #8d99ae;
        border: none;
        padding: 14px;
        color: #edf2f4;
        border-radius: 5px;
        font-weigth: 500;
        font-size: 16px;
        font-family: "Rubik", sans-serif;
        margin-bottom: 6px;
        max-width: 400px;
    }

    input::placeholder {
        color: #edf2f4;
        opacity: 0.5;
    }

    input:focus {
        border-top: 2px solid #edf2f4;
        border-right: 2px solid #edf2f4;
        outline: none;
    }

    button {
        margin-top: 10px;
        border: none;
        padding: 14px;
        cursor: pointer;
        background-color: #d90429;
        color: #edf2f4;
        font-weigth: 500;
        font-size: 16px;
        font-family: "Rubik", sans-serif;
        border-radius: 5px;
        width: 100%;
        max-width: 400px;
    }

    button:hover {
        background-color: #d90429;
        border-top: 2px solid #edf2f4;
        border-right: 2px solid #edf2f4;
    }
    .button {
        margin-top: 10px;
        border: none;
        padding: 14px;
        cursor: pointer;
        background-color: #d90429;
        color: #edf2f4;
        font-weigth: 500;
        font-size: 16px;
        font-family: "Rubik", sans-serif;
        border-radius: 5px;
        width: 100%;
        max-width: 400px;
    }

   .button:hover {
        background-color: #d90429;
        border-top: 2px solid #edf2f4;
        border-right: 2px solid #edf2f4;
    }

    i {
        color: #d90429;
    }

    .film-item {
        display: inline-block;
        position: relative;
    }

    .form,
    .form-btns {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
    }

    .form {
        flex-direction: column;
        margin-bottom: 16px;
    }

    .form-btns {
        aligm-items: center;
        justify-content: space-between;
        margin-right: 0;
        margin-left: 0;
    }

    #add-movie {
        margin-left: 10px;
    }

    #movie-list {
        margin-top: 38px;
        margin-bottom: 32px;
    }

    .fa-random {
        color: #edf2f4;
        margin-left: 5px;
    }

    input:required:valid {
        border-color: green;
    }

    input:invalid {
        border-color: #d90429;
    }

    input:required:focus:valid {
        background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% #8d99ae;
        background-size: 25px;
    }

    input:focus:invalid {
        background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% #8d99ae;
        background-size: 25px;
    }

    #validation-msg {
        margin-top: 0;
        font-size: 15px;
    }

    .btn-disabled {
        background-color: #8d99ae;
        cursor: default;
    }

    .btn-disabled:hover {
        background-color: #8d99ae;
        cursor: default;
        border: none;
    }

    .delete-movie {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .delete-movie:hover>i {
        color: #edf2f4;
    }
</style>

<body>

    <form action="">
<% users.map((val,i)=>{ %>

    <div class="film-item">
        <span class="delete-movie" >
            <i class="fas fa-times"></i>
        </span>
        <a href="" target="_blank">
            <img  src="<%=val.image %>">

            <button><%=val.name %></button>
            <button><%=val.price %></button>
            <button><%=val.desc %></button>
            <a class="button" href="/delete?id<%= val.id%>"> delete</a>
            <a class="button" href="/edit?id<%= val.id%>"> edit</a>
        </a>
    </div>
    <% } )  %>
</form>
</body>

</html>